/* Universal Style Start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

a {
    text-decoration: none;
}
/* Universal Style End*/

/* Header Section Style Start*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header span {
    color: #d9dcd6;
}

.nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-bar ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Header Section Style End*/

/* Hero Section Style End*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position:relative
}
/* Hero Section Style End*/

/* Content Section Style Start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content img {
    height: 200px;
    width: 300px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Content Section Style End */

/* Benefits Section Style Start*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #165efc;
}

.benefits article {
    margin-bottom: 32px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
}
/*Benefits Section Style End*/

/* Footer Section Style Start*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

.footer p, .footer h2 {
    color:black; 
}
/* Footer Section Style End*/
